*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    height: 34px;
    width: 350px;
    border-radius: 4px;
    padding: 11px;
}
button{
    height: 31px;
    width: 114px;
    border-radius: 4px;
}